<div class="container">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" #f="ngForm" (submit)="onSubmit(f)">
      <mat-form-field *ngIf="!isLoginMode">
        <input
          matInput
          type="text"
          placeholder="Username"
          name="username"
          ngModel
          minlength="3"
          #username="ngModel"
          required
        >
        <mat-error *ngIf="username.invalid">Please enter a valid username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="E-mail"
          name="email"
          ngModel
          #email="ngModel"
          required
        >
        <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error>
      </mat-form-field>


      <button
        mat-raised-button
        color="accent"
        type="button"
        *ngIf="!isLoading"
        (click)="onSwitchMode(f)"
      >
        {{isLoginMode ? 'I dont have an account' : 'Already have an account' }}
      </button>
      <a class="" routerLink="/password-reset-email">forgot Password ?</a>
    </form>

  </mat-card>
</div>
<div [style.margin-bottom.px]="bottomSpacing">

</div>
