.spacer {
  margin-top: 5rem;
  margin-bottom: auto;
}

h3 {
  color: green;
  font-family: Avenir, sans-serif;
  text-align: center
}

.container {
  align-content: center;
  width: 80%;
  margin: auto;
}

/*.bottom-spacing{*/
/*  margin-bottom: 231px;*/
/*  !*margin-bottom: 118px;*!*/
/*}*/

form {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}
