<div class="container">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" #f="ngForm" (submit)="onSubmit(f)">
      <mat-form-field *ngIf="!isLoginMode">
        <input
          matInput
          type="text"
          placeholder="Username"
          name="username"
          ngModel
          minlength="3"
          #username="ngModel"
          required
        >
        <mat-error *ngIf="username.invalid">Please enter a valid username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="E-mail"
          name="email"
          ngModel
          #email="ngModel"
          required
        >
        <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          #password="ngModel"
          required
          minlength="6"
          (input)="!isLoginMode && onConfirmation(f)"

        >
        <mat-error *ngIf="password.invalid">Password must contain at least 6 characters</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!isLoginMode">
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          name="confirmationPassword"
          ngModel
          #confirmationPassword="ngModel"
          required
          minlength="6"
          (input)="onConfirmation(f)"
        >
        <mat-error *ngIf="confirmationPassword.invalid">confirmation password must match with password</mat-error>
      </mat-form-field>
      <mat-error *ngIf="!isConfirmationValid">confirmation password must match with
        password
      </mat-error>
      <br>
      <br>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="!isLoading"
        [disabled]="!f.valid || !isConfirmationValid"
      >
        {{isLoginMode ? 'Login' : 'Sign Up'}}
      </button>

      <button
        mat-raised-button
        color="accent"
        type="button"
        *ngIf="!isLoading"
        (click)="onSwitchMode(f)"
      >
        {{isLoginMode ? 'I dont have an account' : 'Already have an account' }}
      </button>
      <a class="" routerLink="/password-reset-email">forgot Password ?</a>
    </form>

  </mat-card>
</div>
<div [style.margin-bottom.px]="bottomSpacing">

</div>
