<div class="container">
  <mat-card>
    <h3>Enter your new password</h3>
    <form #f="ngForm" (submit)="onSubmit(f)">
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          #password="ngModel"
          required
          minlength="6"
          (input)="onConfirmation(f)"

        >
        <mat-error *ngIf="password.invalid">Password must contain at least 6 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          name="confirmationPassword"
          ngModel
          #confirmationPassword="ngModel"
          required
          minlength="6"
          (input)="onConfirmation(f)"
        >
        <mat-error *ngIf="!isConfirmationValid">confirmation password must match with
          password
        </mat-error>
      </mat-form-field>
      <br>
      <br>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!f.valid || !isConfirmationValid"
      >
        Change Password
      </button>
    </form>
  </mat-card>
</div>
<div [style.margin-bottom.px]="bottomSpacing">

</div>
