<div class="spacer"></div>
<div class="container">
  <mat-card>
    <h3 *ngIf="!responseMessage">Please enter your email to request password change</h3>
    <h3 *ngIf="responseMessage" style="color: #58a904">{{responseMessage}}</h3>
    <form #f="ngForm" (submit)="onSubmit(f)">
      <mat-form-field>

        <input
          matInput
          type="email"
          placeholder="E-mail"
          name="email"
          ngModel
          #email="ngModel"
          required
        >
        <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!f.valid"
      >
        Submit
      </button>
    </form>
    <p>You will receive an email to verify the password reset </p>
    <p>Click the link "reset password" on the email to change your password</p>
  </mat-card>
</div>

<div [style.margin-bottom.px]="bottomSpacing">

</div>
