#item-created-message {
  text-align: center;
  color: red;
  font-family: Avenir, serif;
}

mat-form-field,
textarea {
  width: 100%;
  margin-bottom: 1rem;
}

h1 {
  margin-top: 1rem;
  text-align: center;
  font-family: Avenir, sans-serif;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

#create-button {
  margin-top: 1rem;
}
